*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #0b082c;
    color: #ffffff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #0b082c;
    cursor: pointer;
}
img{
    height: 180px;
    width: 180px;
    object-fit: contain;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;

}
#msg{
    background-color: #0b082c;
    color: #ffffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}